<p style="color: green"><%= notice %></p>

<%= render @event %>

<p>
  <strong>Attendants:</strong>
  <% if @event.attendees.any? %>
    <% @event.attendees.each_with_index do |attende, idx| %>
      <p>
        <%= idx + 1 %>. <%= attende.email %>
      </p>
    <% end %>
  <% else %>
    <p>No one has subscribed yet.</p>
  <% end %>
</p>

<div>
  <% if user_signed_in? && current_user.id != @event.creator_id && !@event.attendee_ids.include?(current_user.id) %>
  <p>
    <%= link_to "Attend this event?", new_event_event_attendance_path(@event.id) %>
  </p>
  <% end %>
  <%= link_to "Edit this event", edit_event_path(@event.id) %> |
  <%= link_to "Back to events", events_path %>

  <%= button_to "Destroy this event", @event, method: :delete %>
</div>
