<p style="color: green"><%= notice %></p>

<div>
  <p>
    <strong>User:</strong>
    <%= @creator.email %>
    <p>----------------------------------------</p>
  </p>

  <% if @creator.events.any? %>
    <strong>Created events:</strong>
    <% @creator.events.each do |event| %>
      <%= render event %>
      <p>
        <%= link_to "Show this event", event %>
      </p>
    <% end %>
  <p>----------------------------------------</p>
  <% end %>

  <% if @creator.attended_events.any? %>
    <strong>Attended events:</strong>
    <% @creator.attended_events.each do |event| %>
      <%= render event %>
      <p>
        <%= link_to "Show this event", event %>
      </p>
    <% end %>
  <p>----------------------------------------</p>
  <% end %>

</div>


<div>
  <%= link_to "Back to events", events_path %>
</div>
